.content-header {
  margin-bottom: $m-2;
  .header-inner {
    .inner-title {
      margin-bottom: calc($m-1 - 0.5rem);
    }
    .inner-actions {
      * {
        margin: 0;
      }
    }
    .inner-content {
      margin: 0;
      font-size: $text-xs;
      * {
        color: $text-gray-medium;
      }
    }
  }
}
