.content-header {
  margin-bottom: $m-2;
  .header-inner {
    .inner-actions {
      padding: 0;
    }
    .inner-content {
      padding: 0;
      margin-top: $m-1;
      * {
        color: $text-gray-medium;
      }
    }
  }
}
