.tooltip {
  width: max-content;
  position: relative;
  .tooltip-title {
    width: max-content;
    cursor: pointer;
    position: relative;
  }
  .tooltip-title-arrow {
    &::after {
      content: "";
      width: 0;
      height: 0;
      border: 8px solid transparent;
      position: absolute;
      z-index: 1;
      opacity: 0;
      transition: opacity $transition-duration-md $transition-fn;
    }
  }
  .tooltip-title-arrow-active {
    &::after {
      opacity: 1;
    }
  }
  .tooltip-content {
    width: max-content;
    max-width: calc($w-1 * 20);
    padding: calc($p-1 - 0.2rem);
    border-radius: $rounded;
    background: $bg-primary;
    color: $text-white;
    position: absolute;
    z-index: 4;
    opacity: 0;
    transition: opacity $transition-duration-md $transition-fn;
    & * {
      color: $text-white;
    }
  }
  .tooltip-content-active {
    opacity: 1;
    animation: fade $transition-duration-md $transition-fn;
  }
}

.tooltip-top {
  .tooltip-title-arrow {
    &::after {
      border-top-color: $bg-primary;
      bottom: calc(100% - 8px);
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .tooltip-content {
    bottom: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
  }
}

.tooltip-left {
  .tooltip-title-arrow {
    &::after {
      border-left-color: $bg-primary;
      top: 50%;
      left: -8px;
      transform: translateY(-50%);
    }
  }
  .tooltip-content {
    top: 50%;
    right: calc(100% + 8px);
    transform: translateY(-50%);
  }
}

.tooltip-right {
  .tooltip-title-arrow {
    &::after {
      border-right-color: $bg-primary;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
    }
  }
  .tooltip-content {
    top: 50%;
    left: calc(100% + 10px);
    transform: translateY(-50%);
  }
}

.tooltip-bottom {
  .tooltip-title-arrow {
    &::after {
      border-bottom-color: $bg-primary;
      top: calc(100% - 8px);
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .tooltip-content {
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
  }
}
