$bg-primary: #34d399;
$bg-white: #fff;
$bg-black: #000;
$bg-green: #65a30d;
$bg-red: #ef4444;
$bg-orange: #fb923c;
$bg-gray-light: #d1d5db;
$bg-gray-medium: #9ca3af;

$bg-primary-rgba: rgba(52, 211, 153, 0.2);
$bg-green-rgba: rgba(101, 163, 13, 0.2);
$bg-orange-rgba: rgba(251, 146, 60, 0.2);
$bg-red-rgba: rgba(239, 68, 68, 0.2);
$bg-black-rgba: rgba(0, 0, 0, 0.6);

$text-primary: #34d399;
$text-black: #222;
$text-white: #fff;
$text-gray-light: #d1d5db;
$text-gray-medium: #9ca3af;
$text-green: #65a30d;
$text-red: #ef4444;
$text-orange: #fb923c;

$text-xxl: 3.2rem;
$text-3xl: 2.8rem;
$text-2xl: 2.4rem;
$text-xl: 2rem;
$text-lg: 1.8rem;
$text-md: 1.6rem;
$text-sm: 1.4rem;
$text-xs: 1.2rem;

$font-thin: 400;
$font-medium: 600;
$font-semi-bold: 700;
$font-bold: 800;

$m-1: 1rem;
$m-2: 2rem;
$m-3: 3rem;
$m-4: 4rem;
$m-5: 5rem;
$m-6: 6rem;
$m-7: 7rem;
$m-8: 8rem;
$m-9: 9rem;
$m-10: 10rem;

$p-1: 1rem;
$p-2: 2rem;
$p-3: 3rem;
$p-4: 4rem;
$p-5: 5rem;
$p-6: 6rem;
$p-7: 7rem;
$p-8: 8rem;
$p-9: 9rem;
$p-10: 10rem;

$w-1: 1rem;
$w-full: 100%;
$w-screen: 100vw;

$h-1: 1rem;
$h-full: 100%;
$h-screen: 100vh;

$rounded-sm: 0.2rem;
$rounded: 0.4rem;
$rounded-md: 0.6rem;
$rounded-lg: 0.8rem;
$rounded-xl: 5rem;
$rounded-full: 100%;

$transition-duration-sm: 0.2s;
$transition-duration-md: 0.3s;
$transition-duration-lg: 0.4s;

$transition-fn: ease;
