.select {
  width: $w-full;
  .select-label {
    display: block;
    margin-bottom: calc($m-1 - 0.2rem);
  }
  .select-wrap {
    position: relative;
    .wrap-group {
      width: $w-full;
      display: flex;
      border: 0.5px solid $bg-gray-light;
      border-radius: $rounded;
      background: $bg-white;
      transition: all $transition-duration-md $transition-fn;
      &:hover,
      &:focus-within {
        border-color: $bg-primary;
      }
      .group-control {
        width: $w-full;
        display: flex;
        align-items: center;
        .control-input {
          width: $w-full;
          padding: 0 calc($p-1 - 0.2rem);
          border: unset;
        }
        .control-clear-action {
          padding: 0 calc($p-1 - 0.6rem);
          display: flex;
          align-items: center;
          justify-content: center;
          & * {
            color: $text-gray-medium;
            cursor: pointer;
          }
        }
      }
      .group-prefix,
      .group-suffix {
        padding: 0 calc($p-1 - 0.2rem);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::after {
          content: "";
          width: 1px;
          height: 90%;
          background: $bg-gray-light;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .group-prefix {
        &::after {
          right: 0;
        }
      }
      .group-suffix {
        &::after {
          left: 0;
        }
        .suffix-icon {
          transform: rotate(0);
          transition: transform $transition-duration-md $transition-fn;
        }
        .suffix-icon-rotate {
          transform: rotate(-180deg);
        }
      }
    }
    .wrap-group-error {
      border-color: $bg-red;
    }
    .wrap-group-disabled {
      opacity: 0.8;
      background: $bg-gray-light;
      user-select: none;
      pointer-events: none;
    }
    .wrap-options {
      min-width: max-content;
      width: $w-full;
      background: $bg-white;
      box-shadow: 0 0 5px $bg-gray-light;
      border: 0.5px solid $bg-gray-light;
      border-radius: $rounded;
      overflow: hidden;
      position: absolute;
      top: 120%;
      left: 0;
      opacity: 0;
      z-index: 2;
      transition: opacity $transition-duration-md $transition-fn;
      .options-group {
        min-width: max-content;
        width: $w-full;
        .group-item {
          width: $w-full;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          border-bottom: 0.5px solid $bg-gray-light;
          transition: background $transition-duration-md $transition-fn;
          &:last-child {
            border: unset;
          }
          &:hover {
            background: $bg-primary-rgba;
          }
        }
        .group-item-selected {
          background: $bg-primary;
          & * {
            color: $text-white;
          }
        }
      }
      .options-group-scroll {
        height: $h-1 * 20;
        overflow-y: auto;
      }
      .options-pagination {
        padding: calc($p-1 - 0.4rem) $p-1;
        border-top: 0.5px solid $bg-gray-light;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .pagination-content {
          margin-right: $m-1;
        }
        .pagination-action {
          width: $w-1 * 2.5;
          height: $h-1 * 2.5;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 0.5px solid $bg-gray-light;
          background: $bg-white;
          transition: all $transition-duration-md $transition-fn;
          &:nth-child(2) {
            border-top-left-radius: $rounded;
            border-bottom-left-radius: $rounded;
          }
          &:nth-child(3) {
            border-top-right-radius: $rounded;
            border-bottom-right-radius: $rounded;
          }
          &:hover {
            background: $bg-primary-rgba;
          }
          &:active {
            background: $bg-primary;
          }
        }
        .pagination-action-disabled {
          opacity: 0.6;
          user-select: none;
          pointer-events: none;
        }
      }
      .options-empty {
        width: $w-full;
        padding: $p-1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text-gray-medium;
      }
      .options-loading {
        width: $w-full;
        height: $h-1 * 20;
        background: $bg-white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .wrap-options-active {
      opacity: 1;
      animation: fade $transition-duration-md $transition-fn;
    }
    .wrap-options-bottom {
      top: unset;
      bottom: 120%;
    }
  }
  .select-tags {
    margin-top: calc($m-1 - 0.5rem);
    display: flex;
    flex-wrap: wrap;
    .tags-item {
      margin: calc($m-1 - 0.8rem);
      margin-left: 0;
      padding: calc($p-1 - 0.6rem);
      display: flex;
      align-items: center;
      background: $bg-primary;
      border-radius: $rounded;
      .item-label {
        margin-right: calc($m-1 - 0.5rem);
        font-size: $text-xs;
        color: $text-white;
        user-select: none;
      }
      .item-icon {
        cursor: pointer;
        & * {
          color: $text-white;
        }
      }
    }
  }
}

.select-gap {
  margin-bottom: calc($m-2 - 0.5rem);
}

.select-sm {
  .select-label {
    font-size: $text-xs;
  }
  .wrap-group {
    padding: calc($p-1 - 0.6rem) 0;
    .group-control {
      font-size: $text-xs;
      &::placeholder {
        font-size: $text-xs;
      }
    }
  }
  .group-item {
    padding: calc($p-1 - 0.4rem) $p-1;
    & * {
      font-size: $text-xs;
    }
  }
}

.select-md {
  .wrap-group {
    padding: calc($p-1 - 0.4rem) 0;
  }
  .group-item {
    padding: calc($p-1 - 0.4rem) $p-1;
  }
}

.select-lg {
  .select-label {
    font-size: $text-md;
  }
  .wrap-group {
    padding: calc($p-1 - 0.2rem) 0;
    &::placeholder {
      font-size: $text-md;
    }
  }
  .group-item {
    padding: calc($p-1 - 0.2rem) $p-1;
  }
}
